body{
    margin: 0;
    padding: 0;
}
header{
    
    display: block;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    width: 15%;
    margin: 0 130px;
    border: 2px solid black;
}
.bloc{
    background-color: grey;

}
.logo{
    float: left;
    margin-right: 15px;
}
#articles div{
    width: 30%;
    display: inline-block;
    margin: 0 22px;
}
