*{
    margin: 0;
    padding: 0;
}
p{

    color: gray;
}


#degre{
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 40px;
}



.meteo div{
    
     display: inline-block;
     vertical-align: middle;
     width: 23%;
}
img{
    vertical-align: middle;
}
.image_meteo{
    text-align: center;
}
.premier_degre{
   
   
    color: black;
    font-weight: bold;
}
@media (max-width:485px){
    h2{
        font-size: 15px;
    }
}
@media screen and (min-width:1200px){
    .meteo div{
        display: block;
    }
    main section{
        display: inline-block;
        text-align: center;
        width: 14%;
        
    }
    .header div{
        display: inline-block;
        width: 13%;
    }
  
    hr{
        display: none;
    }
   
    
}     
   
  




